---
layout: default
title: Proposals
section: proposals
---

<div class="container">
  <header class="row">
    <div class="col-auto">
      <h1 class="d-inline-block">{{ page.title }}</h1>
      <button class="btn btn-default">New Proposal 💡</button>
    </div>
    <div class="col-auto ml-auto">
      <a href="#">Archived (3)</a>
    </div>
  </header>
  
  {% for proposal in site.data.proposals %}
  <div class="row proposal">
    <div class="col-md-4">
      <strong class="d-block text-uppercase">For</strong>
      <h2 class="proposal-client-name">{{ proposal.client }}</h2>
      <a href="#">Edit</a>&nbsp;&bull;
      <a href="#">Export PDF</a>&nbsp;&bull;
      <a href="#">Archive</a>
    </div>
    <div class="col-md-8">
      {% for option in proposal.options %}
      <strong>Option {% cycle 'A', 'B', 'C' %}</strong>
      <div class="row align-items-baseline">
        <div class="col-auto">
          <h3>{{ option.title }}</h3>
        </div>
        <div class="col-auto ml-auto">
          {{ option.price }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
  
</div>

<div class="demo-explanations-container">
  <div class="demo-explanations">
    <h1>Stimulus + Turbolinks Demo</h1>
    <p>by <a href="http://pascallaliberte.me/">Pascal Laliberté</a></p>
    <p class="demo-intro">Stimulus (by Basecamp) adds listeners on elements as they appear on the page. Turbolinks (also by Basecamp) loads the next page via pjax. The HTML is rendered server-side.</p>
    <div class="demo-suggestions">
      <p><strong>To see it in action</strong>:</p>
      <ol>
        <li><strong>Try the Account dropdown</strong>. Styled by bootstrap, wired up by Stimulus</li>
        <li><strong>Click to the Clients page.</strong> The snappy page change, that's Turbolinks</li>
      </ol>
    </div>
  </div>
</div>