---
layout: default
title: Proposals
section: proposals
---

<div class="container">
  <header class="row">
    <div class="col-auto">
      <h1 class="d-inline-block">{{ page.title }}</h1>
      <button class="btn btn-default">New Proposal 💡</button>
    </div>
    <div class="col-auto ml-auto">
      <strong>Current</strong>&nbsp;<span class="separator" aria-hidden="true">/</span>
      <a href="#">Archived (2)</a>
    </div>
  </header>
  
  {% for proposal in site.data.proposals %}
  <div class="row proposal">
    <div class="col-md-4">
      <strong class="d-block text-uppercase proposal-client-for">Prepared For</strong>
      <div class="proposal-client">
        <h2 class="proposal-client-name">{{ proposal.client }}</h2><br>
        {% if proposal.company %}
          <p class="proposal-client-company">of <strong>{{ proposal.company }}</strong></p>
        {% endif %}
      </div>
      {% if proposal.valid_for %}
        <p>Valid for <strong>{{ proposal.valid_for }}</strong></p>
      {% endif %}
      <a href="#">View / Edit Full Proposal</a><br>
      <a href="#">Export PDF&hellip;</a><br>
      <a href="#">Archive&hellip;</a>
    </div>
    <div class="col-md-8">
      {% for option in proposal.options %}
      <div class="row align-items-end proposal-option">
        <div class="col">
          <strong class="d-block text-uppercase proposal-option-label">Option {% cycle 'A', 'B', 'C' %}</strong>
          <h3>{{ option.title }} <span class="has-details">&hellip;</span></h3>
        </div>
        <div class="col-auto ml-auto text-right proposal-price">
          <strong>{{ option.price }}</strong><br>
          {{ option.unit }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
  
</div>

<div class="demo-explanations-container">
  <div class="demo-explanations">
    <h1>Stimulus + Turbolinks Demo</h1>
    <p>by <a href="http://pascallaliberte.me/">Pascal Laliberté</a></p>
    <p class="demo-intro"><a href="https://github.com/stimulusjs/stimulus">Stimulus</a> (by <a href="https://basecamp.com/">Basecamp</a>) adds listeners on elements as they appear on the page. <a href="https://github.com/turbolinks/turbolinks">Turbolinks</a> (also by Basecamp) loads the next page via pjax. All the HTML is rolled server-side.</p>
    <div class="demo-suggestions">
      <p><strong>To see it in action</strong>:</p>
      <ol>
        <li><strong>Try the Account dropdown</strong>. Styled by bootstrap, wired up by Stimulus.</li>
        <li><strong>Click to the Clients page.</strong> The snappy page change, that's Turbolinks.</li>
      </ol>
    </div>
  </div>
</div>