---
layout: default
title: Clients
section: clients
---

<div class="container">
  <header class="row">
    <div class="col-auto">
      <h1 class="d-inline-block">{{ page.title }}</h1>
      <button class="btn btn-default">New client 💪</button>
    </div>
  </header>
  
  {% for client in site.data.clients limit:5 %}
    {% include client.html client=client %}
  {% endfor %}
  
  <div data-behavior="more-clients">Loading More...</div>
</div>

<div class="demo-explanations-container">
  <div class="demo-explanations">
    <h1>Stimulus + Turbolinks Demo</h1>
    <p>by <a href="http://pascallaliberte.me/">Pascal Laliberté</a></p>
    <p class="demo-intro">Stimulus (by Basecamp) adds listeners on elements as they appear on the page. Turbolinks (also by Basecamp) loads the next page via pjax. The HTML is rendered server-side.</p>
    <div class="demo-suggestions">
      <p><strong>To see it in action</strong>:</p>
      <ol>
        <li><strong>Click to show Daniel's proposal</strong>. That link is enabled by Stimulus</li>
        <li><strong>Scroll down to see Jean-Philippe</strong>. His entry was added via ajax after the page load, and the proposal link is also enabled by Stimulus</li>
      </ol>
    </div>
    Client pics from <a href="https://avatars.dicebear.com">DiceBear Avatars</a>
  </div>
</div>