.client {
  margin-bottom: rem(10px);
  h2 {
    margin-bottom: 0;
  }
}
.client-img {
  width: 100%;
  height: auto;
  border-radius: 10%;
  transform: rotate(-2deg);

  @media (max-width: 767px) {
    display: inline-block;
    margin-bottom: rem(10px);
  }
}
