body {
  background-color: $brand-primary;
  font-size: 20px;
  display: flex;
  align-items: stretch;
  height: 100vh;
  color: $color-text;
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, h3 {
  color: $color-text;
}

a {
  color: $color-link;
  transition: color 0.2s ease;
  &:hover, &:active {
    color: darken($color-link, 10%);
  }
}

.page-wrapper {
  margin-top: rem(20px);
  margin-left: rem(20px);
  margin-right: rem(150px);
  background-color: transparentize(white, 0.3);
  border-radius: rem(5px) rem(5px) 0 0;
  overflow: hidden;
  width: 100%;
}

.page-content .wrapper {
  padding: rem(30px);
  
  header.row {
    align-items: baseline;
    padding-bottom: rem(5px);
    margin-bottom: rem(15px);
    border-bottom: rem(4px) solid $brand-primary;
    
    h1 {
      margin-bottom: 0;
    }
  }
}