body {
  background-color: $brand-primary;
  font-size: 20px;
  display: flex;
  align-items: stretch;
  height: 100vh;
  color: $color-text;
  max-width: $max-width;
  margin: 0 auto;
  font-family: 'basic-sans', sans-serif;
}

h1, h2, h3 {
  color: $color-text;
}

a {
  color: $color-link;
  transition: color 0.2s ease;
  &:hover, &:active {
    color: darken($color-link, 10%);
  }
}

.page-wrapper {
  background-color: transparentize(white, 0.3);
  position: relative;
  
  @media (min-width: 768px) {
    margin-top: rem(20px);
    margin-left: rem(20px);
    margin-right: rem(150px);
    border-radius: rem(5px) rem(5px) 0 0;
    width: 100%;
    height: calc(100vh - 2rem);
    
    &::before {
      top: rem(-8px);
      left: rem(-8px);
      right: rem(-8px);
      border-radius: rem(11px) rem(11px) 0 0;
      border: rem(1px) solid transparentize(white, 0.6);
      border-bottom: none;
    }
    
    &::after {
      top: rem(-18px);
      left: rem(-18px);
      right: rem(-18px);
      border-radius: rem(20px) rem(20px) 0 0;
      border: rem(1px) solid transparentize(white, 0.8);
    }
    
    &::before, &::after {
      z-index: -1;
      content: ' ';
      position: absolute;
      bottom: 0;
      border-bottom: none;
    }
  }
}

.page-content {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  
  height: 100vh;
  
  @media (min-width: 768px) {
    height: calc(100vh - 2rem);
  }
}

.page-content .wrapper {
  
  padding: rem(20px);
  padding-top: rem(60px);
  padding-bottom: rem(100px);
  
  @media (min-width: 768px) {
    padding: rem(30px);
    padding-top: rem(60px);
  }
  
  header.row {
    align-items: baseline;
    padding-bottom: rem(10px);
    margin-bottom: rem(15px);
    border-bottom: rem(4px) solid $brand-primary;
    
    h1 {
      margin-bottom: 0;
    }
  }
}

.separator {
  font-weight: bold;
  color: $brand-primary;
  display: inline-block;
  padding-left: rem(3px);
  padding-right: rem(3px);
}