.btn {
  color: $color-text;
}

.btn-default {
  background-color: white;
  padding: rem(3px) rem(10px);
  font-weight: 500;
  font-size: rem(10px);
  border-radius: rem(8px);
  border: rem(4px) solid transparentize($brand-primary, 0);
}

.page-content header .btn {
  vertical-align: bottom;
  margin-left: rem(15px);
}